{% extends 'base.html' %}
{% load static %}

{% block title %} Lobby {% endblock %}

{% block content %}
<div class="row vh-100 justify-content-around align-items-center">
    <img style="width: 400px;" class="img-fluid" src="{% static 'images/python.landing.png' %}" alt="page-logo">
    <div class="col-lg-5 card p-4">
        <div class="card-header bg-success rounded text-light">
            <h5 class="card-title fs-3 fw-bolder">Django Channels</h5>
        </div>
        <div class="card-body">
            {% if not request.user.is_authenticated %}
            <div class="mb-3 row">
                <span class="fs-4 mb-2 fw-bolder">¡Bienvenido de vuelta!</span>
                <button class="btn btn-primary w-25 mx-auto" data-bs-toggle="modal" data-bs-target="#signIn">Iniciar sesión</button>
            </div>
            {% else %}
            <div class="mb-3 row">
                <span class="fs-4 mb-2 fw-bolder">¡Bienvenido de vuelta!</span>
                <div class="d-flex justify-content-between">
                    <span>Estas conectado cómo: {{request.user.username}}</span>
                    <a href="{% url 'sign-out' %}" class="btn btn-danger">Cerrar sesión</a>
                </div>
            </div>
            {% endif %}
            <form id="lobby" class="form-control">
                <div class="mb-3">
                    <span class="fs-4 fw-bolder">
                        {% if request.user.is_authenticated %}
                        Entra a una sala!
                        {% else %}
                        Ahora puedes entrar en anonimo
                        {% endif %}
                    </span>
                </div>
                <div class="mb-3">
                    <label for="room-name-input" class="form-label">Código de la sala</label>
                    <input class="form-control" id="room-name-input" type="number" placeholder="15125" required>
                </div>
                <input class="btn btn-primary" id="room-name-submit" type="submit">
            </form>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#lobby').on('submit', function (e) {
            e.preventDefault();
            var roomName = $('#room-name-input').val();
            window.location.pathname = '/chat/' + roomName + '/';
        });
    });
</script>
{% endblock %}